@CHARSET "ISO-8859-1";
#login-box {
	width: 350px;
	padding: 20px;
	margin: 100px auto;
	background: #34ccff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
} 
