
<div class="panel panel-info">
	<div class="panel-heading">
		<h3>List of blogs approved</h3>
		<div class="panel-body">
			<ul>
				<li ng-repeat="blog in blogsApproved"><b>Blog Title:</b>{{blog.blogTitle}}<br>
					<b>Posted On:</b>{{blog.postedOn | date:'medium'}}<br> 
					<b>PostedBy:</b>{{blog.postedBy}}<br></li>
			</ul>
		</div>
	</div>
	<div ng-show="loggedInUser.role=='ADMIN'">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3>List of blogs approved</h3>
				<div class="panel-body">
					<ul>
						<li ng-repeat="blog in blogsApproved"><b>Blog Title:</b>{{blog.blogTitle}}<br>
							<b>Posted On:</b>{{blog.postedOn | date:'medium'}}<br> 
							<b>PostedBy:</b>{{blog.postedBy}}<br></li>
					</ul>
				</div>
			</div>
		</div>
	</div>