<!-- without login, if user tries to logout  -->
<!-- invalid credentials ...invalid email /password -->
<span style="color:red">{{error.message}}</span>
{{message}}
<table>
<tr>
<td>Enter Email:</td>
<td>
<input type="email" ng-model="user.email"><br><br>
</td>
</tr>

<tr>
<td>Enter Password:</td>
<td><input type="password" ng-model="user.password"></td><br>
</tr>

<tr>
<td><input type="submit" value="login" ng-click="login(user)" align="center"></td>
</tr>
</div>
</table>
