
<h2 style="color: #47d147" align="center">Sign Up</h2>

<link rel="stylesheet" href="http://localhost:8087/Friendster-client/resources/css/registration.css">
<div class="registration" id="register-box">
<table>
	<tr>
		<td>Enter Email: </td>
		<td><input type="email" ng-model="user.email" required>
	<br><br>	
		</td>
	</tr>

	<tr>
		<td>Enter Password:</td>
		<td><input type="password" ng-model="user.password" required>
		<br><br>
		</td>
	</tr>

	<tr>
			<td>Enter FirstName:</td>
		<td><input type="text" ng-model="user.firstname" required><br><br></td>
	</tr>

	<tr>
		<td>Enter LastName:</td>
		<td><input type="text" ng-model="user.lastname"><br><br></td>
	</tr>

	<tr>
		<td>Enter Phonenumber:</td>
		<td><input type="phonenumber" ng-model="user.phonenumber"><br><br></td>
	</tr>

	<tr>
		<td>Select Role:</td>
		<td>
		<select ng-model="user.role">
		<option value="STUDENT">Student
		<option value="EMPLOYEE">Employee
		<option value="ALUMNI">Alumni 
		</select>
		<br><br>
		</td>
		
	</tr>
    <tr>
    <td><input type="submit" value="Register" ng-click="register(user)"></td>
   </tr>
    
</table>
</div>