<h2 style="color: #47d147" align="center">Update</h2>

<link rel="stylesheet" href="http://localhost:8087/Friendster-client/resources/css/update.css">
<div class="update" id="update-box">
<table>
	<tr>
		<td>Enter email </td>
		<td><input type="email" ng-model="loggedInUser.email" disabled>
		<br><br>
		</td>
	</tr>

	<tr>
		<td>Enter password</td>
		<td><input type="password" ng-model="loggedInUser.password" required>
		<br><br>
		</td>
	</tr>

	<tr>
		<td>Enter Firstname</td>
		<td><input type="text" ng-model="loggedInUser.firstname" required>
		<br><br>
		</td>
	</tr>

	<tr>
		<td>Enter Lastname</td>
		<td><input type="text" ng-model="loggedInUser.lastname">
		<br><br>
		</td>
	</tr>

	<tr>
		<td>Enter Phonenumber</td>
		<td><input type="text" ng-model="loggedInUser.phonenumber">
		<br><br>
		</td>
	</tr>

	<tr>
		<td>Select Role</td>
		<td>
		<select ng-model="loggedInUser.role">
		<option value="STUDENT">Student
		<option value="EMPLOYEE">Employee
		<option value="ALUMNI">Alumni 
		</select>
		<br><br>
		</td>
		
	</tr>
    <tr>
    <td><input type="submit" value="Edit" ng-click="updateProfile(loggedInUser)">
    <br><br>
    </td>
    </tr>
    
</table>